
@mixin border(
  $var-direction: 'def',
  $var-width: var(--border-width),
  $var-color: var(--color-border)
) {
  @if $var-direction == 'def' {
    border: $var-width solid $var-color;
  }

  @if $var-direction == 'top' {
    border-top: $var-width solid $var-color;
  }

  @if $var-direction == 'right' {
    border-right: $var-width solid $var-color;
  }

  @if $var-direction == 'left' {
    border-left: $var-width solid $var-color;
  }
  @if $var-direction == 'bottom' {
    border-bottom: $var-width solid $var-color;
  }

  @if $var-direction == 'tb' {
    border-top: $var-width solid $var-color;
    border-bottom: $var-width solid $var-color;
  }

  @if $var-direction == 'lr' {
    border-right: $var-width solid $var-color;
    border-left: $var-width solid $var-color;
  }
}

@mixin box-shadow {
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.1);
}
