@import "variables";
@import "mixins";

:root {
  --color-black: #{$color-black};
  --color-black--trans: #{$color-black--trans};
  --color-white: #{$color-white};
  --color-darken: #{$color-white--darken};
  --color-white--trans: #{$color-white--trans};
  --color-border: var(--color-white);
  --color-trans: #{$color-trans};
  --color-primary: #{$color-primary};
  --color-primary--darken: #{$color-primary--darken};
  --color-secondary: #{$color-secondary};
  --color-box-shadow: #{$color-box-shadow};
  --color-disabled: #{$color-disabled};
  --trans-time: #{$trans-time};
  --trans-fnc: ease-in-out;
  --gap-xxl: #{$gap-xxl};
  --gap-xl: #{$gap-xl};
  --gap-l: #{$gap-l};
  --gap: #{$gap};
  --gap-s: #{$gap-s};
  --gap-xs: #{$gap-xs};
  --radius: #{$radius};
  --radius-s: #{$radius-s};
  --font-text-sec: #{$font-text-sec};
  --font-text: #{$font-text};
  --font-title: #{$font-title};
  --border-width: 1px;
  --nav-height: 48px;
  --gap-multiplier: #{$gap-multiplier};
}

@include res-max-tablet{
  :root{
    --trans-time: 0;
  }
}