@import "../base/global";

#technique .container{
    @include res-max-desktop-s {
        width: 100%;
    }
}
.base-block {
    position: relative;
    padding-block-end: 5rem;
    padding-block-start: 5rem;

    &--pad-s{
        padding-block-end:0;
    }

    h2 {
        text-align: center;
        margin-block-end: 2.4rem;
    }

    &__content {
        --col-count:3;
        --card-width:minmax(280px, 1fr);
        display: grid;
        //min-width: calc(1200px);
        gap: 3.2rem;
        grid-template-columns: repeat(var(--col-count),var(--card-width));
        padding-block-end: 2.4rem;
        padding-block-start: 1.2rem;
        padding-inline: 1rem;

        @include res-max-tablet {
            --card-width:280px;
            gap: 1.2rem;
            //grid-template-columns: 1fr 1fr;
        }

        @include res-max-mobile-l {
            //grid-template-columns: 1fr;
        }
    }

    &__row {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    &__media {
        img {
            display: block;
            max-width: 320px;
            border: 1px solid hsla(240, 1%, 26%, 0.46);
            border-radius: 1rem;
            overflow: hidden;
        }
    }
}
